<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
      <p> I'm Ma Phong Duc. I have a passion about web development. I'm really excited building a whole website. I hope I can find a job related to web developing
        especially frontend first and then learn more about backend so that I am able to acquire more knowledge and learn how to build a whole website. 
        And I will do my best to learn it and hope that I can be a fullstack developer in the future.</p>
      
      <p>I am currently attending Seneca College and am in my third year of the Advanced Diploma of Computer Programming and Analysis. During my time as a student in Seneca College, I have gained experience in building server and client-site applications by using HTML5, CSS3, JavaScript, Node.js, Express.js as well as Microsoft SQL Server, Oracle 12c, and MongoDB. In addition, I have gained a strong understanding of Objected-Oriented Programming in C++, RESTful API and using GIT for Source Control Management. </p>
      <p>During my free time, I usually self-study new technologies related to web development to improve my technical skills. By self-studying, I have gained a fundamental knowledge of ReactJS, Unit Testing as well as understanding how to organize backend and frontend communication in building web-based applications. Through my part-time job, my work experience has allowed me to not only improve my communication, valuable teamwork and problem-solving skills, but it has also given me the confidence to learn new technologies</p>
      
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>Feel free and stay tuned for future updates…</p>
    </aside>
  </div>
</div>
